@import '../../assets/styles/vars.scss';

.container {
  position: relative;
  height: calc(100vh - $headerHeight);

  display: flex;


  .content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px 40px 20px;
  }
}
